@import "../../variables.scss";

.edit-shipping-modal {
  margin: 20px 0;
  text-align: center;
  font-size: 22px;
  color: $thunder;

  .edit-modal-form {
    display: block;
    margin: 10px auto 0;
    width: 85%;
    max-width: 600px;
    box-sizing: border-box;

    div {
      display: block;
    }

    .user-info{
      margin: 20px;

      .header-name {
        display: flex;
        justify-content: flex-start;
        margin: 0 0 10px 0;
        font-size: 18px;
        text-align: left;
      }
    }

    input,
    button {
      display: block;
      width: 100%;
      font-size: 20px;
      border-radius: 8px;
      padding: 14px;
      outline: none;
      box-sizing: border-box;
    }

    .button-container {
      display: flex;
      justify-items: center;
      flex-direction: column;
      padding: 0 20px;

      button {
        color: $white;
        background-color: $green;
        margin-top: 30px;
        height: 50px;
        border-radius: 10px;
      }
    }
  }
}

@media only screen and (max-width: 920px) {
  .edit-shipping-modal {
    h2 {
      font-size: 25px;
    }

    .edit-modal-form {
      .user-info {
        .header-name,
        input {
          font-size: 15px;
        }
      }

      button {
        font-size: 15px;
      }
    }
  }
}
