.pagination-container {
  display: flex;
  justify-content: center;

  .num {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 5px;
    color: black;

    &.active {
      text-decoration: underline;
    }
  } 
}
