.footer {
  display: flex;
  padding: 40px 100px;
  height: 160px;
  background-color: rgb(246, 246, 246);

  .company,
  .customer-care,
  .contact-us {
    padding: 0 30px;
  }

  a {
    color: grey;
    padding: 10px 0;
  }

  .company,
  .customer-care {
    flex: 3;
  }

  .contact-us {
    flex: 2;
    display: flex;
    flex-direction: column;
  }
  
}
