@import "../../variables.scss";

.navbar {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  background: $white;
  font-weight: 500;
  font-size: 20px;
  position: sticky;
  padding: 0 20px;
  top: 0;
  box-sizing: border-box;
  z-index: 10;

  &.homepage {
    transition: 0.2s ease;
    background: $soft-green;
  }

  &.candy-page {
    position: absolute;
    top: 0;
    background: none;
  }

  &.scrolled {
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
  }

  a {
    color: $black;
    transition: 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  .navbar-mobile {
    display: none;
  }

  .navbar-left {
    display: flex;
    justify-content: left;
    align-items: center;

    a {
      display: flex;
      align-items: center;

      .sweet-shopper {
        display: inline-grid;
      }

      img {
        height: 40px;
        width: 40px;
        margin-left: 5px;
      }
    }
  }

  .navbar-left,
  .navbar-center,
  .navbar-right {
    flex: 1;
  }

  .navbar-center {
    display: flex;
    // margin-left: 30px;
    justify-content: center;

    .select-container {
      padding-left: 0;

      .home-label,
      .shop-label {
        margin: 0 10px;
      }
    }

    //This selects the nav that we
    //are currently on

    :not(.selected) {
      color: $dark-gray;
    }

    .selected {
      color: $black;
    }

    ul {
      display: flex;
    }

    li {
      display: block;
      transition-duration: 0.5s;
    }

    li:hover {
      cursor: pointer;
    }

    ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      transition: all 0.5s ease;
      margin-top: 1rem;
      left: 0;
      display: none;
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
    }

    ul li ul li {
      clear: both;
      width: 100%;
    }

    .sub-menu {
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: white;
      height: 300px;
      padding-left: 0;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

      .category-container {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
          height: 200px;
          width: 200px;
          margin: 10px 20px 10px 20px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: $black;
          transition: 0.2s ease;

          &:hover {
            opacity: 0.3;
            color: $black;
          }

          a {
            color: $dark-gray;
          }
        }
      }
    }
  }

  .navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 30px 0 auto;

    a {
      margin-left: 20px;
    }

    .shopping-cart {
      margin-left: 20px;
      width: 30px;
    }

    .navbar-search {
      font-size: 20px;
    }

    .navbar-logout {
      cursor: pointer;
      margin-left: 30px;

      &:hover {
        opacity: 0.7;
      }
    }

    .navbar-icon {
      transition: 0.3s ease;
      display: flex;
      justify-content: end;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    .navbar-mobile {
      display: flex;
      align-items: center;
    }

    .navbar-center {
      display: none;
    }

    .navbar-right {
      margin-right: 0;

      .navbar-search {
        display: none;
      }
    }
  }
}
