@import "../../variables.scss";



.login-modal-body {
  text-align: center;
  font-size: 22px;
  color: $thunder;

  h3{
    margin-top: 70px;
  }
  h4 {
    font-weight: 400;
    margin: 1px 1px 0;
  }

  .login-error-msg {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .login-modal-form {
    display: block;
    margin: 0 auto;
    width: 85%;
    max-width: 600px;
    box-sizing: border-box;

    input {
      margin-bottom: 20px;
    }

    
    input,
    button{
      display: block;
      width: 100%;
      font-size: 20px;
      border-radius: 8px;
      padding: 14px;
      outline: none;
      box-sizing: border-box;
    }

    a{
      color: white
    }

    button {
      padding: 5px;
      margin-left:0px;
      color: $white;
      background-color: $green;
      height: 50px;
      border-radius: 10px;
      margin-top: 30px;
    }

    &.error {
      input {
        border: 1px solid red;
      }
    }
  }
  .check-member {
    margin-bottom: 29.26px;
  }

  .signup-link {
    cursor: pointer;
    transition: 0.2s ease;
    
    &:hover {
      color: $gray;
    }
  }
}
