@import "../../variables.scss";

.prpduct-details {
  display: flex;
  justify-content: space-around;

  .container-left {
    display: flex;
    flex-direction: column;

    .img-container {
      width: 200px;
      height: 200px;
      border: solid black 1px;
      display: flex;
      justify-content: center;
    }
  }

  .container-right {
    display: flex;
    flex-direction: column;
    padding-left: 1px;

    .input {
      display: flex;
      flex-direction: column;
      margin-left: 0;

      div {
        font-size: 18px;
      }

      input {
        height: 30px;
        font-size: 20px;
      }
    }

    .title {
      font-size: 18px;
    }
  }
  
}

.details-form {
  display: flex;
  flex-direction: column;

  input, button, .select {
    display: block;
    width: 100%;
    font-size: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 14px;
    outline: none;
    box-sizing: border-box;
  }
  button {
    color: $white;
    background-color: $green;
    margin-top: 30px;
    height: 50px;
    border-radius: 10px;
  }

  .cancel-button{
    background-color: $white;
    color: $green;
  }

  .delete-button{
    background-color: $white;
    color: red;
    border-color: red;
  }
  
}

.header-name {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 10px 0;
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
}



//   .login-error-msg {
//     color: red;
//     font-size: 14px;
//     margin-bottom: 20px;
//   }
// }
