.prpduct-details {
  display: flex;
  justify-content: space-around;

  .container-left {
    display: flex;
    flex-direction: column;

    .img-container {
      width: 200px;
      height: 200px;
      border: solid black 1px;
      display: flex;
      justify-content: center;
    }
  }

  .container-right {
    display: flex;
    flex-direction: column;
    padding-left: 1px;

    .input {
      display: flex;
      flex-direction: column;
      margin-left: 0;

      div {
        font-size: 18px;
      }

      input {
        height: 30px;
        font-size: 20px;
      }
    }

    .title {
      font-size: 18px;
    }
  }
  
}

// .details-form {
//   display: flex;
//   flex-direction: column;

//   .login-error-msg {
//     color: red;
//     font-size: 14px;
//     margin-bottom: 20px;
//   }
// }
