.candy-body {
  display: flex;
  height: 100vh;

  .candy-img {
    width: 55%;
    border: 1px solid black;
    margin-top: 80px;
  }

  .candy-details {
    width: 45%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9F2E8;

    .add-to-cart {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
