@import "../../variables.scss";


.admin-users {
  max-width: 1000px;
  padding: 30px 10px 30px 10px;
  margin-right: auto;
  margin-left: auto;

  .add-user {
    display: flex;
    padding: 30px 40px 30px 40px;
    align-items: center;

    .add-icon {
      font-size: 40px;
      color: #48742C;
    }

    span {
      margin-left: 10px;
    }
  }

  .unordered-list {
    list-style-type: none;
    padding: none;
  
    li{
      padding: 1.5em;
    }

    .table-row {
      position: relative;
      top: 0;
      text-decoration: none;
      outline: none;
      transition: all .3s;
    }

    .table-row:hover{
      background-color: $soft-green;
      top: -3px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    }
  }

  .responsive-table {

    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }

    .table-header {
      background-color: #E1AD01;
      font-size: 15px;
      text-transform: uppercase;
      text-align: center;
      color: white;
      font-weight: bold;
    }

    .table-row {
      background-color: white;
      box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
      text-align: center;
      align-items: center;
    }

    .unordered-list {
      list-style-type: none;
      padding: none;
    
      li{
        padding: 1.5em;
      }
      li:hover{
        background-color: $soft-green;
      }
    }

    .col-1 {
      flex-basis:4%;

      .round {
        position: relative;
        display: fle;
        justify-content: center;

        input[type="checkbox"] {
          visibility: hidden;
        }

        input[type="checkbox"]:checked + label {
          background-color: #8bc34a;
          border-color: #8bc34a;
        }

        input[type="checkbox"]:checked + label:after {
          opacity: 1;
        }

        label {
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 50%;
          height: 28px;
          left: 0;
          position: absolute;
          top: 0;
          width: 28px;
        }

        label:after {
          border: 2px solid #fff;
          border-top: none;
          border-right: none;
          content: "";
          height: 6px;
          left: 7px;
          opacity: 0;
          position: absolute;
          top: 8px;
          transform: rotate(-45deg);
          width: 12px;
        }
      }
    }

    

    .col-2 {
      flex-basis: 3%;
    }

    .col-3 {
      flex-basis: 10%;
    }

    .col-4 {
      flex-basis: 20%;
    }

    .col-5 {
      flex-basis: 5%;

      .edit-button {
        color: #467b49;
        border: solid #467b49 0.1px;
      }
    }
  }
}
