@import "../../variables.scss";

.navbar-cart {
  position: relative;

  .cart-count-icon {
    position: absolute;
    top: -6px;
    right: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $black;
    color: $white;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    font-size: 15px;
  }

  .cart-body {
    display: flex;
    flex-direction: column;

    .cart-items {
      display: flex;
      flex-direction: column;
      flex: auto;
    }

    .cart-subtotal {
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      margin: 30px 0;
    }

    .cart-checkout-button {
      width: 100%;
      border-radius: 10px;
      background: $dark-gray;
      border: none;
      font-weight: 600;
      font-size: medium;
      color: $white;
      padding: 12px 0;
    }
  }
}
