@import "../../variables.scss";

.edit-modal-body {
  scale: 0.5;
  margin: 20px 0;
  text-align: center;
  font-size: 15px;
  color: $thunder;
  max-height: 500px;

  h2{
    margin-top: -20px;
    font-size: 20pt;
  }

  .edit-modal-form {
    display: block;
    margin: -40px auto 0;
    width: 85%;
    max-width: 600px;
    box-sizing: border-box;

    div {
      display: block;
    }

    .user-info {
      margin: 20px;

      .header-name {
        display: flex;
        justify-content: flex-start;
        margin: 0 0 10px 0;
        font-size: 18px;
      }
    }

    input,
    button {
      display: block;
      width: 100%;
      font-size: 15px;
      border-radius: 8px;
      padding: 9px;
      outline: none;
      box-sizing: border-box;
    }


    .button-container {
      display: flex;
      justify-items: center;
      flex-direction: column;

      button {
        color: $white;
        background-color: $green;
        margin-top: 30px;
        height: 50px;
        border-radius: 10px;
      //   padding: 5px;
      // margin-left:0px;
      // color: $white;
      // background-color: $green;
      // margin-top: 30px;
      }
    }
  }
}
