@import "../../variables.scss";

.shop {
  .shop-header {
    height: 250px;
    border: solid black 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .shop-body {
    display: flex;
    margin: 50px 30px 30px 30px;

    .category-container {
      margin-left: 30px;
  
      div {
        padding-bottom: 30px;
      }
    }
  }

  .item-container {
    display: inline-block;
    justify-content: space-around;
    text-align: center;
  }

  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}
