@import "../../variables.scss";

.shop {
  .shop-header {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .shop-name {
      color: $white;
      font-weight: bold;
      font-size: xx-large;
      position: absolute;
    }
  }

  .shop-body {
    display: flex;
    margin: 50px auto 30px;
    justify-content: center;

    .category-container {
      padding: 86px 30px;
      width: 200px;

      .category {
        color: $dark-gray;
        margin-bottom: 30px;
      }
      .selected{ 
        color: $black;
      }
    }
  }

  .item-container {
    display: inline-block;
    justify-content: space-around;
    text-align: center;

    .container-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
    }

    .container-contents {
      display: grid;
      grid: auto / 210px 210px 210px;
      column-gap: 60px;
      row-gap: 50px;
      grid-auto-flow: row;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1400px) {
  .shop {
    .item-container .container-contents {
      grid: auto / 210px 210px 210px 210px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .shop {
    .shop-body .category-container {
      padding: 80px 0;
      width: 140px;
      margin-right: 60px;
    }

    .item-container .container-contents {
      grid: auto / 210px 210px;
      margin-right: 30px;
    }
  }
}
