@import "../../variables.scss";

.admin-panel {
  display: flex;
  height: 100%;

  .admin-nav {
    flex: 0.6;
    background-color: #48742C;

    h3 {
      color: $white;
      padding: 20px 0 0 20px;
      font-size: x-large;
      cursor: pointer;
      opacity: 0.5;
    }

    .selected {
      opacity: 1;
    }
  }

  .admin-body {
    flex: 3;
    background-color: #F3F2E5;
  }
}

// .details-form{
//   display: flex;
//   flex-direction: column;

//   .login-error-msg {
//     color: red;
//     font-size: 14px;
//     margin-bottom: 20px;
//   }

//   *{
//     margin: 1em;
//   }
// }
// .admin-panel{




//   flex-direction: column;
//   .admin-items{



//     
