@import "../../variables.scss";

.admin-panel {
  display: flex;
  min-height: calc(100vh - 80px);

  .admin-nav {
    flex: 0.6;
    background-color: #48742C;

    h3 {
      color: $white;
      padding: 50px 0 0 30px;
      font-size: x-large;
      cursor: pointer;
      opacity: 0.5;
    }

    .selected {
      opacity: 1;
    }
  }

  .admin-body {
    flex: 3;
    background-color: #F3F2E5;
  }
}
