@import "../../variables.scss";


.admin-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  .admin-nav{
    display:flex;
    justify-content: space-around;
    width: 100%;

    h3{
      cursor: pointer;
    }

    .selected{
      background-color: $soft-green;
    }
  }

  flex-direction: column;
  .admin-items{


    .unordered-list {
      list-style-type: none;
      padding: none;

      li{
        padding: 1.5em;
      }
      li:hover{
        background-color: $soft-green;
      }
    }
  }
}

