.candy-item {
  display: inline-block;

  .image {
    height: 200px;
    width: 200px;
    border: solid black 0.5px;
    border-radius: 10px;
  }

  .details {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 0
  }

  .quick-add {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #FFF2D6;
  }
}
