@import "../../variables.scss";

.featured {
  display: flex;
  background: #f5e7c1;
  height: 500px;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  margin-bottom: 50px;

  .featured-items-container {
    height: 300px;
    width: 600px;
    border: solid black 0.2px;

    .slider-container {
      height: 100%;
      display: flex;
      align-items: center;

      .featured-item {
        display: flex;
        justify-content: center;
      }
    }
  }
}
