@import "../../variables.scss";

.user-menu-container {
  position: relative;
  margin-left: 20px;

  .user-menu {
    position: absolute;
    min-width: 200px;
    top: 40px;
    right: 0;
    padding: 20px;
    background: $white;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;

    &.open {
      opacity: 1;
      pointer-events: all;
    }

    span {
      cursor: pointer;
      transition: 0.2s ease;

      &:hover {
        color: $gray;
      }
    }
  }
}
