.order-summary {
  margin: 50px;

  h3 {
    font-size: revert;
  }

  .order-summary-container {
    display: flex;
    padding-bottom: 40px;
    flex-direction: column;

    .order-details {
      padding-bottom: 30px;
      display: flex;
      justify-content: space-between;

      .order-details-left {
        display: flex;

        .image-container {
          border: solid black 1px;
          width: 130px;
          height: 130px;
        }
  
        .item-details {
          display: flex;
          flex-direction: column;
          margin-left: 30px;
        }
      }

      .order-details-right {

        .sub-total {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .total {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
  }
}
